<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul>
<% flash[:errors].try(:each) do |error| %>
<li><%= error %></li>
<% end %>
</ul>

<% if current_user %>
<%= button_to 'Logout', session_url, method: :delete %>
<% else %>
<%= button_to 'Login', new_session_url, method: :get %>
<% end %>

<%= button_to 'Create Sub', new_sub_url, method: :get %>
<%= button_to 'Create Post', new_post_url, method: :get %>
<%= yield %>

</body>
</html>
